{{!-- Este es un comentario no aparece en el html final --}}
{{!--  define que master page va a utilizar en este es layoute/basic --}}
{{#> layouts/basic page_title="Inicio"}}
  {{!-- el #*inline "nombre de bloque"
    define donde incorporar en el layout el codigo siguiente
   --}}
  {{#*inline "main-block"}}
    <section>
      {{#> cards/cards card_image="https://placehold.it/1920x1080"
      card_title="Este es el nombre del producto"
      card_text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil."
      card_price="L.100"
      card_add="Add Cart"
      product_uri="https://google.com"
      product_img="https://placehold.it/200x200"
      product_name="Producto 1"}}
       {{/cards/cards}}
    </section>
  {{/inline}}
{{/layouts/basic}}
